.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.2px .2px .5px .2px;
}

.semiTop_form{
    -fx-background-color:#dddddd
    -fx-border-color:#000;
    -fx-border-width:0px 0px .5px 0px;
}

.close-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.close-btn:hover{
    -fx-background-color:#f13f57;
}

.minimize-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.minimize-btn:hover{
    -fx-background-color:#dddddd;
}

.bars{
    -fx-background-color:transparent;
    -fx-background-radius:5px;
    -fx-cursor:hand;
}

.bars:hover{
    -fx-background-color:#d6d6d6;
    -fx-background-radius:5px;
}

.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #252d50, #324f6b);
}

.edit-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}

.nav-btn{
    -fx-background-color:linear-gradient(to bottom right, #344275, #3a6389);
    -fx-background-radius:10px;
    -fx-cursor:hand;
    -fx-font-size:15px;
    -fx-text-fill:#fff;
    -fx-font-family:'Microsoft Sans Serif';
}

.nav-btn:hover{
    -fx-background-color:linear-gradient(to bottom right, #46589a, #4278a7);
    -fx-background-radius:5px;
}

.logout-btn{
    -fx-background-color:#366d9d;
    -fx-background-radius:10px;
    -fx-cursor:hand;
}

.logout-btn:hover{
    -fx-background-color:#396fc6;
    -fx-background-radius:10px;
}