.login-form{
    -fx-background-color:linear-gradient(to bottom right, #00CCCC, #0066FF, #66CCFF);
}

.card-form {
  -fx-background-color: #999900;
  -fx-opacity: 0.9;
}

.close{
    -fx-background-color:#EE0000;
    -fx-cursor:hand;
    -fx-opacity: 0.6;
}

.close:hover{
    -fx-background-color:#FF0000;
}

.minimize{
    -fx-background-color:#BBBBBB;
    -fx-cursor:hand;
    -fx-opacity: 0.6;
}

.minimize:hover{
    -fx-background-color:#fff;
}

.textfield{
    -fx-background-color:#000000;
    -fx-text-inner-color:#99FFFF;
    -fx-background-radius:10px;
    -fx-border-color:#fff;
    -fx-border-width:0px 0px .4px 0px;
    -fx-font-size:15px;
}

.textfield:focused{
    -fx-border-width:0px 0px 0px 0px;
}

.login-btn{
    -fx-background-color:#FF0000;
    -fx-background-radius:15px;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
}

.login-btn:hover{
    -fx-background-color:#559bc9;
}

#createAccount {
    -fx-font-family: 'JetBrains Mono NL';
    -fx-font-size: 10px;
    -fx-background: none;
}
.top-form{
     -fx-background-color:#660033;
     -fx-border-color:#000;
     -fx-border-width:.2px .2px .5px .2px;
 }
